* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

img{
    width:828px;
    height:100px;
    left:306px;

}

body {
    padding: 100px 306px 136px;
    background-color:#FAFAFA;
  }

.content{
    width:828px;
    height:948px;
    left:306px;
    background-color:#FFFFFF;
}


.container{
    background-color: #FFFFFF;
}

h1{
    font-family: Switzer;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 132px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.03em;

    position: static;
    width: 189px;
    height: 132px;
    left: 0px;
    top: 0px;
}
